registry=https://pkgs.dev.azure.com/teamsoftbr/_packaging/Packages/npm/registry/ 

; begin auth token
//pkgs.dev.azure.com/teamsoftbr/_packaging/Packages/npm/registry/:username=joaopassos
//pkgs.dev.azure.com/teamsoftbr/_packaging/Packages/npm/registry/:_password=M2F0dnM1cXF5YmgzbWd5d3ptNTRjN2EyNGVib2F0NWd1aHpmYnhtc3NrN29id2xsbHZ6YQ==
//pkgs.dev.azure.com/teamsoftbr/_packaging/Packages/npm/registry/:email=joaopassos@teamsoft.com.br
//pkgs.dev.azure.com/teamsoftbr/_packaging/Packages/npm/:username=joaopassos
//pkgs.dev.azure.com/teamsoftbr/_packaging/Packages/npm/:_password=M2F0dnM1cXF5YmgzbWd5d3ptNTRjN2EyNGVib2F0NWd1aHpmYnhtc3NrN29id2xsbHZ6YQ==
//pkgs.dev.azure.com/teamsoftbr/_packaging/Packages/npm/:email=joaopassos@teamsoft.com.br
; end auth token

always-auth=true
